<input type="text" [(ngModel)]="prodotto.codice" placeholder="codice">
<input type="text" [(ngModel)]="prodotto.descrizione" placeholder="descrizione">
<input type="text" [(ngModel)]="prodotto.prezzo" placeholder="prezzo">
<button (click)="aggiungi()">Aggiungi</button>
<br>
<input type="text" [(ngModel)]="search" placeholder="ricerca">
<button (click)="ricerca()">Cerca</button>
<br>
<br>
<button (click)="aggiorna()">Aggiorna</button>
<br>
<table>
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Prezzo con IVA</th>
  </tr>
  <tr *ngFor="let p of prodotti">
    <td>{{p.codice}}</td>
    <td>{{p.descrizione}}</td>
    <td>{{p.prezzo}}</td>
    <td>{{prezzoIVA}}</td>
    <button (click)="rimuovi()">X</button>
    <button (click)="calcolaSconto()">Sconto</button>
  </tr>
</table>
<br>
{{sconto}}
<br>